*.iml
*.ipr
*.iws
/.idea/*
.gradle
/local.properties
!/.idea/vcs.xml
!/.idea/fileTemplates/
!/.idea/inspectionProfiles/
!/.idea/scopes/
!/.idea/codeStylesSettings.xml
!/.idea/codeStyles/
!/.idea/encodings.xml
!/.idea/copyright/
!/.idea/compiler.xml

.DS_Store
/buildSrc/build
/build
/captures
.externalNativeBuild
/dev_credentials.properties
src/androidTest/shaders/
/fastlane/README.md
/fastlane/report.xml
/.idea/compiler.xml
/.idea/vcs.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml