*.iml
*.ipr
*.iws
/.idea/*
.gradle
/local.properties
!/.idea/vcs.xml
!/.idea/fileTemplates/
!/.idea/inspectionProfiles/
!/.idea/scopes/
!/.idea/codeStylesSettings.xml
!/.idea/codeStyles/
!/.idea/encodings.xml
!/.idea/copyright/
!/.idea/compiler.xml

.DS_Store
/buildSrc/build
/build
/captures
.externalNativeBuild
/dev_credentials.properties
src/androidTest/shaders/
/individual_app/configuration.txt
/individual_app/mapping.txt
/individual_app/seeds.txt
/individual_app/unused.txt
/individual_app/releaseSoftLaunch/individual_app-releaseSoftLaunch.apk
/individual_app/release/output.json
/individual_app/releaseSoftLaunch/output.json
/individual_app/release/output-metadata.json
/fastlane/README.md
/fastlane/report.xml
/.idea/compiler.xml
/.idea/vcs.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml